{% extends "base.html" %}
{% load tailwind_filters %}
{% load static %}

{% block title %}Create game{% endblock %}
{% block content %}
<div class="flex justify-center items-center">
    <div class="flex-row">
    <a class="text-base"> Vul hier alle bestelde hoeveelheden in</a>
    <form action="" class="space-y-1 text-gray-dark" method="post">
        {% csrf_token %}
        <div style="color:red">
            {{ form.non_field_errors }}
          </div>
          {% for field in form %}
            
              {{ field.errors }}
              
              <div class="form-control">
                <div class ="flex justify-center items-center">
               {% if field.html_name != "Data" %} 

                <label class="label">
                  <span class="label-text text-neutral-800 text-lg font-bold" style="text-transform : capitalize">{{ field.html_name }}</span>
                </label>
                </div>
                {{field}}
                {%endif%}
            </div>
            
          {% endfor %}
        <br>
        <div class ="card-actions flex gap-2 columns-2 justify-center">
          <!--  -->
          <button class="btn" onclick="prijsberekening.showModal()" hx-post="calculateprice/" hx-target="#pricetarget">Bereken Prijs</button>
          <dialog id="prijsberekening" class="modal modal-bottom sm:modal-middle">
            <div class="modal-box">
              <h3 class="text-lg font-bold">Totale prijs:</h3>
              <div id="pricetarget"></div>
              <div class="modal-action">
                <form method="dialog">
                  <!-- if there is a button in form, it will close the modal -->
                  <button class="btn" type="submit">Update Prijs!</button>
                  <button class="btn" type="button" onclick="location.href= '/input'">Cancel</button>
                </form>
              </div>
            </div>
          </dialog>
          <button class="btn" type="button" onclick="location.href= '/input'">Reset</button>
        </div>
    </form>
</div>
</div>

{% endblock %}